body{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.action-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color:white;
}

.todo-list{
  height:80vh;
  overflow: scroll;
  padding: 15px;
  -ms-overflow-style: none;
  max-width: 50em;
  margin: auto;
}

.todo-list::-webkit-scrollbar {
  display: none;
}


.remove{
  background-color:  #FF6F61;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}

.remove:hover {
  background-color: #FF4500;
}

.check{
  background-color: #0275d8;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.check:hover {
  background-color: #025fb1;
}

.todo-content{
  text-align: center;
  padding: 10px;
}

.wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 0px;
  cursor: pointer;
}

.user-input{
  display: grid;
  margin-bottom: 2px;
  margin: auto;
  bottom: 0px;
  width: 100%;
  text-align: center;
  max-width: 50em;
 }
 

.complete{
  text-decoration: line-through;
  color: rgb(87, 87, 87);
}
